[http]
	sslVerify = true
[user]
	name = AobaIwaki
	email = aobaiwaki@gmail.com
[alias]
	ch = checkout
	sw = switch
	br = branch
	st = status
    sts = status -s
	see = !gh repo view --web
	la = log --oneline --decorate --graph --branches --tags --remotes --all
	aliases = !git config --get-regexp alias |  sed 's/^alias.//g' | sed 's/ / = /1'
	al = aliases
	cm = commit -m
	cma = commit -am
	ps = push
	ad = add .
	merge = mg
	fch = fetch
[init]
	defaultBranch = master
[pull]
	rebase = false
